# Keil MDK 编译产物
*.uvguix.*
*.uvoptx
*.scvd
*.lst
*.bin
*.hex
*.axf
*.o
*.d
*.crf
*.lnp
*.dep
*.iex
*.htm
*.sct
*.map
*.build_log.htm
*.tra

# 中间目录
Listings/
Objects/
DebugConfig/
RTE/

# JLink / 调试
JLinkLog.txt
JLinkSettings.ini

# Keil V5/V6 Browse Info
*.crf
*.d

# 编辑器
*.swp
*.swo
*~
.vscode/
.idea/

# 操作系统
Thumbs.db
Desktop.ini
.DS_Store
